<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<Style>
  .text-decoration-none {
    text-decoration: none;
  }
  .color-black {
    color: black;
  }
  .color-black:hover {
    color: gray;
  }
</Style>
<body>
  <%- include('navbar') %>

  <div class="container mt-4">
    <h2 class="text-center">Wellcome to DWatches</h1>
      <div class="row filter-group mt-5">
        <div class="col-md-6 search">
          <form method="GET" >
            <div class="input-group">
              <input class="form-control" type="text" name="search" placeholder="Search watch name">
              <button class="btn btn-secondary" type="submit">Search</button>
            </div>
          </form>
        </div>
        <div class="col-md-6 filter"> 
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Brands
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>
    

    <% if(success_msg !='' ){ %>
    <div class="alert alert-success mt-3" role="alert" style="width: 200px;">
      <%= success_msg %>
    </div>
    <% } %> 
    <% if(error_msg !='' ){ %>
    <div class="alert alert-warning mt-3" role="alert" style="width: 200px;">
      <%= error_msg %>
    </div>
    <% } %>

    <div class="row mt-4 mb-5">
      <% watches.forEach(function(watch, index){ %>
      <div class="col-md-4 mb-4">
        <div class="card" style="height: 420px;">
          <a href="/watches/<%=watch._id%>" class="text-decoration-none color-black">
          <img src="<%= watch.image %>" alt="<%= watch.name %>" class="card-img-top">
          <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <h5 class="card-title fw-bold"><%= watch.name %></h5>
            <h5 class="card-text">$<%= watch.price %></h5>
          </div>
        </a>
        </div>
      </div>
      <% }); %>
    </div>
  </div>

  <script>
    setTimeout(function () {
      var successMessage = document.querySelector(".alert-success");
      if (successMessage) {
        successMessage.style.display = "none";
      }
    }, 3000);
  </script>
</body>
</html>
